@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}
.dark{background-color:rgba(0,0,0,.7);display:inline-block}
@font-face {font-family:"Open Sans Light";src:url(Avx24TRu.ttf);}

section{clear:both}
main{margin:0 auto;width:960px;position:relative}

header{}

#header{height:661px;background:url(img/fon1.jpg) center top no-repeat;}
#header main{text-align:center;}
#header h1{color:#fe1d23;font:bold 63px "Trebuchet MS";text-transform:uppercase;padding-top:80px;}
#header h2{color:black;font:48px "Open Sans Light";text-transform:uppercase;margin-top:-10px;}
#header div{background:url(img/pole1.png) center top no-repeat;}
#header article{font-family:"Trebuchet MS";}
#header p.string1{color:#373737;font-size:20px;font-weight:normal;font-variant:italic;}
#header p.string2{color:#373737;font-size:31px;font-weight:bold;text-transform:uppercase;}
#header p.string4{color:#fe1d23;font-weight:bold;text-transform:uppercase;font-size:40px;}
#header p.string4 span.span1{font-size:13px;}
#header p.string4 span.span2{color:#373737;font-size:14px;text-decoration:line-through;}
#header p.string5{color:#fe1d23;font-weight:bold;text-transform:uppercase;text-align:left;}
#header p.string6{color:#949494;text-align:left;}

#work{}

#price{}

#what{}

footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none;z-index:10}
#splash main{text-align:center;top:150px}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}